
body {
    min-width: 850px;}
h1 {
    color:white;
    font-size:31px; 
    text-transform: uppercase; 
    font-style: italic;
    font-family: william, serif;
    margin-bottom: 0;    
    margin-top: 0;
    padding-top: 45px;
    font-weight: normal;
}
h2 {
    font-size: 31px;
    text-transform: uppercase;
    font-family: inter, sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    color: aliceblue;
}
h3 {
    font-family: 'Inter', sans-serif;
    margin: 1;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal; 
    color: aliceblue;
}  
img {
    width: 210px;
    margin-bottom: 10px;
    }
p   {
    font-family: inter, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
div {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto 12px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  }